body {
	text-align: center;
    height: 100vh;
    margin: 0;
    position: relative;
    color: #D2D2D2;
}

div.step {
	position: relative;
	display: none;
    width:100%;
    padding-top: 15%;
}

.question {
	display: block;
	margin-bottom: 2em;
}

.jumbotron {
	margin-bottom: 0;
}

#intro {
	display: block;
}

#result-div {
    padding-top: 5%;
}

#po-name {
	margin-bottom: 2em;
}

#po-image {
	height: 70vh;
	margin-left: 20%;
}

#po-description {
	margin-right: 20%;
	margin-bottom: 4em;
}

#po-audio {
	margin-right: 20%;
	margin-bottom: 4em;
}

#po-left {
	float: left;
	width: 50%;
}

#po-right {
	float: right;
	width: 50%;
}

button {
	background-color: none;
	margin-top: 2em;
}

.jumbotron:nth-child(1) {
	background-color: #2c663c;
}

.jumbotron:nth-child(2) {
	background-color: #2C70B5;
}

.jumbotron:nth-child(3) {
	background-color: #E06337;
}

.jumbotron:nth-child(4) {
	background-color: #367E7F;
}

.jumbotron:nth-child(5) {
	background-color: #6E3AAE;
}

.jumbotron:nth-child(6) {
	background-color: #B72C35;
}

.jumbotron:nth-child(7) {
	background-color: #2c663c;
}

.jumbotron:nth-child(8) {
	background-color: #2C70B5;
}

.jumbotron:nth-child(9) {
	background-color: #E06337;
}
